* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body, #nav_bar {
    margin: 0;
    padding: 0;
}

#big_container {
    background-image: url(/IMG/colombiaguide.jpg);
    background-size: cover;
    width: 100%;
    padding: 20px;
    display: flex; 
    justify-content: center; 
    align-items: center;
    margin-top: 60px; 
}

#text_container {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 20px;
    color: white;
    max-width: 800px;
    position: relative; 
    z-index: 1; 
}

.faq {
    margin-bottom: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
}

h2 {
    margin-bottom: 10px;
    font-size: 18px;
}

p {
    line-height: 1.6;
    font-size: 16px;
}

#nav_bar {
    position: fixed; 
    top: 0;
    width: 100%; 
    background-color: #333; 
    color: #fff; 
     z-index: 2;
}