*{
    margin: 0;
    padding: 0;
}
header{
    width: 100%; 
    height: 100px;
    background-color: #fff;
    position: sticky;
    margin-top: 0%;
}
#img_sup{
    background-image: url(/IMG/trip-coin\ azul.png);
    background-size: cover;
    width: 500px;
    height: 100px;
}
#principal_container{
    /* background-color: aquamarine; */
    background-image: url(/IMG/razones-invertir-cartagena-colombia.webp);
    background-size: cover;
    width: 100%;
    height: 700px;
    
}
#container_text{
    
    width: 500px;
    height: 300px;
    background-color: red;
    padding: 30px;
    
}
#offers_btn{
    width: 100px;
    height: 50px;
    border-radius: 20px;
    background-color: #ffffff;
    color: #2c4df2;    
}
